@keyframes slide {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0px);
    }
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

#about {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

#recognitions {
    margin-top: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

#conferences {
    margin-top: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}



#talks {
    margin-top: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#projects {
    margin-top: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

#students {
    margin-top: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

#publications {
    margin-top: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

#bio {
    margin-top: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.section-cont {
    width: 50%;
    margin-top: 30px;
}

.mystyle {
    animation: slide 1s ease-in 0s 1 normal none;
}

.section-cont h1{
    line-height:50px;
}

.container1 {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#menulist {
    width: 0px;
    max-height: 0px;
    transition:  max-height 2s;
    flex-direction: column;
}
#navbutton{
    display:block;
}
li{
    margin: 5px;
}

@media screen and (min-width: 1200px) {
    #menulist {
        display: flex;
        width: fit-content;
        max-height: 60px;
        transition:  max-height 0s;
        height: 60px;
        flex-direction: row;
    }
    #navbutton{
        display: none;
    }

}